<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>messengerWeb</title>
    <link rel="stylesheet" href="style.css">
    <link rel = 'icon' href="logo.png">
</head>
<body>
<%- include('header') %>

<main>
    <%- include('menubar') %>
    <aside id="recentChats">
        <center>
        <p>Your account preview will appear hear! <br> <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cloud-haze2" viewBox="0 0 16 16">
            <path d="M8.5 3a4 4 0 0 0-3.8 2.745.5.5 0 1 1-.949-.313 5.002 5.002 0 0 1 9.654.595A3 3 0 0 1 13 12H4.5a.5.5 0 0 1 0-1H13a2 2 0 0 0 .001-4h-.026a.5.5 0 0 1-.5-.445A4 4 0 0 0 8.5 3M0 7.5A.5.5 0 0 1 .5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m2 2a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-2 4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5"/>
          </svg></p>
        </center>
    </aside>
    <div id="loginsection">
        <form action="http://localhost:3000/signUpForm" method="post" enctype="multipart/form-data">
            <label for="name" id="fromL">
                <p>User Name</p>
            <input type="text" name="name" placeholder="Your username">
        </label>
            <label for="password" id="toL"><p>Password:&nbsp;&nbsp;&nbsp;    &nbsp;&nbsp;</p>
            <input type="text" name="password" placeholder="Password">
        </label>
        <button type="button" id="profileUpCustom">Upload profile photo</button>
        <input type="file" name="profile" id="profileUp" style="display: none;">
        <button type="submit">Sign Up</button>
        </form>
        <script>
            (()=>{
                document.getElementById('profileUpCustom').addEventListener('click',profileUpfunc);
                var author = localStorage.getItem('author');
                document.getElementById('foot').innerText += author;
            })();
            function profileUpfunc(){
                document.getElementById('profileUp').click();
            }
        </script>
</div>
</div>

</main>
    <footer id="foot">
        &copy; Alright reserved by developer 
    </footer>
</body>
</html>